<section>
    <div class="row">
        <div class="section"></div>
        <form class="col s12 l6 formLogin" name="loginForm" ng-submit="$ctrl.doLogin(loginForm)" novalidate>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Login to watch our amazing videos</span>
                    <div class="section"></div>
                    <div ng-if="$ctrl.errorMessage"
                        class="animate-if errorMessage">
                        {{$ctrl.errorMessage}}
                        <div class="section"></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username"
                                ng-model="$ctrl.loginForm.username"
                                ng-value="$ctrl.loginForm.username"
                                type="text"
                                class="validate"
                                required />
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password"
                                ng-model="$ctrl.loginForm.password"
                                ng-value="$ctrl.loginForm.password"
                                type="password"
                                class="validate"
                                required />
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit"
                                    class="waves-effect waves-light btn-large btn-full">
                                <i class="material-icons right">keyboard_arrow_right</i>Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
